<header class="header">
    <app-header></app-header>
</header>
<section class="about-us-main-para">
    <div class="container">
        <h2>Welcome to Aadesh Tours</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation dolore magna
            aliquam erat volutpat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation dolore magna
            aliquam erat volutpat.</p>
    </div>
</section>
<section class="why-choose-us">
    <div class="container">
        <h2>Why choose us</h2>
        <div class="row">
            <div class="col-sm-4">
                <p-card header="Perfect Planning"
                    styleClass="ui-card-shadow card-why-choose">
                    <p-header>
                        <i class="pi pi-thumbs-up"></i>
                    </p-header>
                    <div>Plan your perfect vacation with our travel agency. Choose among hundreds of all-inclusive offers!</div>
                </p-card>
            </div>
            <div class="col-sm-4">
                <p-card header="Secure Venues"
                    styleClass="ui-card-shadow card-why-choose">
                    <p-header>
                        <i class="pi pi-home"></i>
                    </p-header>
                    <div>We work hard to secure the best hotel rates in the most popular destinations. Search and book adventure tours now!</div>
                </p-card>
            </div>
            <div class="col-sm-4">
                <p-card header="Beautiful Memories"
                    styleClass="ui-card-shadow card-why-choose">
                    <p-header>
                        <i class="pi pi-heart"></i>
                    </p-header>
                    <div>Book international vacation packages with us and create memories that will last a lifetime! Create History !</div>
                </p-card>
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <h2>What clients says about us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute irure dolor in reprehenderit..</p>
    <div class="container">
        <app-testimonials></app-testimonials>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <app-footer></app-footer>
    </div>
</footer>