<div class="row">
    <div class="col-sm-4">
        <h4>AADESH TOURS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
    <div class="col-sm-4">
        <h4>Quick links</h4>
        <ul class="quick-links">
            <li><a>Terms & Conditions <i class="pi pi-chevron-right"></i></a></li>
            <li><a>Privacy policy <i class="pi pi-chevron-right"></i></a></li>
            <li><a>Enquiry <i class="pi pi-chevron-right"></i></a></li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h4>Contact us</h4>
        <ul class="contact-us">
            <li><i class="pi pi-map-marker"></i>Anand Plaza Complex, Infront of Space Olymapia, Sutgirani Chowk, Garkheda, Aurangabad - 431 009</li>
            <li><i class="pi pi-envelope"></i>Email : aadeshgroup09@gmil.com</li>
            <li><i class="pi pi-mobile"></i>Contact: +91 8788987741/ 8888589879</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 bottom-footer">
        <p>{{currentYear}} &copy; AADESH TOURS</p>
    </div>
</div>