:host/deep/.carousel-demo .p-carousel .p-carousel-content .p-carousel-item .car-details>.p-grid {
    border: 1px solid #b3c2ca;
    border-radius: 3px;
    margin: 0.3em;
    text-align: center;
    padding: 2em 0 2.25em 0;
}

:host/deep/.carousel-demo .p-carousel .p-carousel-content .p-carousel-item .car-data .car-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
}

:host/deep/.carousel-demo .p-carousel .p-carousel-content .p-carousel-item .car-data .car-subtitle {
    margin: 0.25em 0 2em 0;
}

:host/deep/.carousel-demo .p-carousel .p-carousel-content .p-carousel-item .car-data button {
    margin-left: 0.5em;
}

:host/deep/.carousel-demo .p-carousel .p-carousel-content .p-carousel-item .car-data button:first-child {
    margin-left: 0;
}

:host/deep/.carousel-demo .p-carousel.custom-carousel .p-carousel-dot-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
}

:host/deep/.carousel-demo .p-carousel.p-carousel-horizontal .p-carousel-content .p-carousel-item.p-carousel-item-start .car-details>.p-grid {
    margin-left: 0.6em;
}

:host/deep/.carousel-demo .p-carousel.p-carousel-horizontal .p-carousel-content .p-carousel-item.p-carousel-item-end .car-details>.p-grid {
    margin-right: 0.6em;
}

:host/deep/.p-carousel-item img {
    width: 100%;
}

:host/deep/.p-carousel-item {
    padding: 0 15px;
}

:host/deep/.p-carousel-indicators {
    display: none;
}

:host/deep/.car-title{
    font-size: 18px;
    font-weight: 500;
}

:host/deep/.car-details {
    box-shadow: 0 0 15px #b7b7b785;
    border: 1px solid #ddd;
}

:host/deep/.car-data {
    padding: 15px;
}

::ng-deep.p-carousel-prev span,
::ng-deep.p-carousel-next span {
    color: #fff;
}

:host/deep/.p-button.p-state-default.p-button-secondary,
body .p-buttonset.p-button-secondary>.p-button.p-state-default {
    color: #fff;
}

:host/deep/.p-carousel .p-carousel-content .p-carousel-prev, :host/deep/.p-carousel .p-carousel-content .p-carousel-next{
    background-color: #005294 !important;
    border-color: #005294 !important;
}

.car-price {
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px;
    color: #fff;
}
.pkg-duration{
    color: #005294;
}
.pkg-duration i{
    float: left;
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}