<div class="row align-items-center">
    <div class="col-sm-6 col-xs-12 short-para-desc">
        <div class="short-para-content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <h4>consectetuer adipiscing elit, sed diam nonummy</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation
                dolore magna aliquam erat volutpat.

                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation
                dolore magna aliquam erat volutpat.</p>
            <button pButton label="Know more" type="button" class="ui-button-secondary"></button>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 short-para-img-col">
        <div class="short-para-img-col-desc">
            <div class="short-para-content-inner">
                <h4>Starting at</h4>
                <h2>Rs. 15000</h2>
            </div>
        </div>
    </div>
</div>