<div class="top-header">
    <div class="row">
        <div class="col-sm-6">
            <ul>
                <li>
                    <i class="pi pi-mobile"></i> Phone: +91 8788987741/ 8888589879
                </li>
                <li>
                    <i class="pi pi-envelope"></i> Mail: aadeshgroup09@gmail.com
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-end login-col">
            <a routerLink="/login"><i class="pi pi-unlock"></i>Login</a>
        </div>
    </div>
</div>
<div class="logo">
    <img src="assets/images/logo.png" />
</div>
<p-menubar [model]="items">
</p-menubar>