<header class="header">
    <app-header></app-header>
</header>
<section class="slider">
    <app-slider></app-slider>
</section>
<section class="search-filter">
    <h2>Find your holiday</h2>
    <div class="container">
        <app-search-filter></app-search-filter>
    </div>
</section>
<section class="package-layout1">
    <h2>Popular packages</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute irure dolor in reprehenderit..</p>
    <div class="container">
        <app-pkg-layout-one></app-pkg-layout-one>
    </div>
</section>
<section class="package-layout2">
    <h2>Best of the season</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute irure dolor in reprehenderit..</p>
    <div class="container">
        <app-pkg-layout-two></app-pkg-layout-two>
    </div>
</section>
<section class="short-para">
    <app-short-para></app-short-para>
</section>
<section class="package-layout3">
    <h2>International tours</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute irure dolor in reprehenderit..</p>
    <div class="container">
        <app-pkg-layout-three></app-pkg-layout-three>
    </div>
</section>
<section class="testimonials">
    <h2>What clients says about us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute irure dolor in reprehenderit..</p>
    <div class="container">
        <app-testimonials></app-testimonials>
    </div>
</section>
<section class="partners">
    <app-our-partners></app-our-partners>
</section>
<footer class="footer">
    <div class="container">
        <app-footer></app-footer>
    </div>
</footer>